<button class="flex flex-col mb-6 items-start max-w-[230px] cursor-pointer p-4 border-gray-200 bg-gray-100 rounded-md">
    <div class="flex flex-row w-full align-middle justify-between">
        <span class="text-lg font-semibold text-gray-900 line-clamp-1 mb-2">{{ CollectionName }}</span>
        <button class="px-2 mb-2" [matMenuTriggerFor]="menu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
    </div>
    <img (click)="onCollectionClick()" class="pr-4" src="images/collection.svg">

    <!-- Menu -->
    <mat-menu class="p-0" #menu="matMenu">
        <button mat-menu-item (click)="onEditClick()">Edit</button>
        <button mat-menu-item (click)="onDeleteClick()">Delete</button>
    </mat-menu>
</button>