<!-- <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/V2oZy_gu-Rc"
  frameborder="0"
  allowfullscreen
></iframe> -->

<div class="min-h-dvh flex flex-col bg-white dark:bg-gray-300 relative">
  <app-navbar [Title]="CollectionName" />
 
  <!-- NO Records -->
  @if (CollectionDetail?.Items?.length == 0 && CollectionDetail?.Collections?.length == 0) {
    <div class="flex-1 flex flex-col justify-center items-center">
      <img class="w-96" src="images/addItems.svg">
      <h3 class="font-extralight pt-3">No data found</h3>
    </div>
  }
  <!-- Only generate content if has details -->
  @else {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4 flex-1">
    <!-- Generate Collection List-->
    @for (item of CollectionDetail?.Collections; track item.CollectionId) {
    <app-nest-folder [CollectionId]="item.CollectionId" [CollectionName]="item.CollectionName"></app-nest-folder>
    }
  
    <!-- Generate Items List -->
    @for (item of CollectionDetail?.Items; track item.id) {
    <app-nest-item [title]="item.Title" [url]="item.Url" [urlImage]="item.UrlImage" [urlDescription]="item.UrlDescription"
      [urlDomain]="item.UrlDomain" [description]="item.Description">
    </app-nest-item>
    }
  </div>
  }
  <app-footer-navigation (addClickEvent)="onFooterAddClick()" />
</div>