# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# ROOT
.vscode
build/

# FRONTEND
frontend/.vscode
frontend/.angular
frontend/node_modules
frontend/.vs
frontend/dist

# BACKEND
Backend/.env
Backend/node_modules
Backend/Logs