# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# FRONTEND
Frontend/.vscode
Frontend/.angular
Frontend/node_modules
frontend/.vs

# BACKEND
Backend/.env
Backend/node_modules
Backend/Logs