<!-- <iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/V2oZy_gu-Rc"
  frameborder="0"
  allowfullscreen
></iframe> -->

<div class="min-h-dvh bg-white dark:bg-gray-300">
  <app-navbar Title="Home" />
  <div class="flex flex-wrap justify-center mt-6">
    <!-- Generate Collection List-->
    @for (item of CollectionList?.Collection; track item.CollectionId) {
    <app-nest-folder [CollectionId]="item.CollectionId" [CollectionName]="item.CollectionName"></app-nest-folder>
    }

    <!-- Generate Items List -->
    @for (item of CollectionList?.Items; track item.id) {
    <app-nest-item [title]="item.Title" [url]="item.Url" [urlImage]="item.UrlImage"
      [urlDescription]="item.UrlDescription" [urlDomain]="item.UrlDomain" [description]="item.Description">
    </app-nest-item>
    }

    <!-- NO Records -->
    @if (CollectionList?.Items?.length == 0 && CollectionList?.Collection?.length == 0) {
    <h1>NO DATA FOUND !!!</h1>
    }
  </div>
  <app-footer-navigation (addClickEvent)="onFooterAddClick()" />
</div>