<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="images/login.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" [formGroup]="_registerForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-title">
                    Register
                </span>

                <!-- FirstName -->
                <div class="wrap-input100 validate-input"
                    [class.alert-validate]="_registerForm.controls['firstName'].invalid && validated"
                    data-validate="FirstName is required">
                    <input class="input100" type="text" name="firstName" placeholder="First Name"
                        formControlName="firstName" required>
                    <label>First Name</label>
                </div>

                <!-- Middle Name -->
                <div class="wrap-input100">
                    <input class="input100" type="text" name="middleName" placeholder="Middle Name"
                        formControlName="middleName" required>
                    <label>Middle Name</label>
                </div>

                <!-- Last Name -->
                <div class="wrap-input100 validate-input"
                    [class.alert-validate]="_registerForm.controls['lastName'].invalid && validated"
                    data-validate="LastName is required">
                    <input class="input100" type="text" name="lastName" placeholder="Last Name"
                        formControlName="lastName" required>
                    <label>Last Name</label>
                </div>

                <!-- User Name -->
                <div class="wrap-input100 validate-input"
                    [class.alert-validate]="_registerForm.controls['userName'].invalid && validated"
                    data-validate="UserName is required">
                    <input class="input100" type="text" name="userName" placeholder="UserName"
                        formControlName="userName" required>
                    <label>UserName</label>
                </div>

                <!-- Email -->
                <div class="wrap-input100 validate-input"
                    [class.alert-validate]="_registerForm.controls['email'].invalid && validated"
                    data-validate="Valid email is required: example@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email" formControlName="email"
                        required>
                    <label>Eamil</label>
                </div>

                <!-- Password -->
                <div class="wrap-input100 validate-input"
                    [class.alert-validate]="_registerForm.controls['password'].invalid && validated"
                    data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password"
                        formControlName="password" required>
                    <label>Password</label>
                </div>

                <!-- Confirm Password -->
                <div class="wrap-input100 validate-input"
                    [class.alert-validate]="_registerForm.controls['confirmPassword'].invalid && validated"
                    data-validate="Confirm Password is required">
                    <input class="input100" type="password" name="confirmPassword" placeholder="Confirm Password"
                        formControlName="confirmPassword" required>
                    <label>Confirm Password</label>
                </div>

                <!-- TODO: Profile PENDING -->
                <!-- <div class="wrap-input100">
                    <input class="input100" type="text" name="profile" placeholder="profile" formControlName="profile"
                        required>
                    <label>Profile:</label>
                </div> -->

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Register
                    </button>
                </div>

                <div class="text-center m-t-50 cursor-pointer" (click)="onNavigateToLogin()">
                    Sign In
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </div>
            </form>
        </div>
    </div>
</div>