<div class="break-inside-avoid cursor-pointer w-full mb-6">
  <div class="flex flex-col max-w-[230px] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-md">
    <div class="flex flex-row w-full align-middle justify-between">
      <span class="text-lg font-semibold text-gray-900 line-clamp-1 mb-2">{{ title }}</span>
      @if (allowAction) {
      <button class="px-2 mb-2" [matMenuTriggerFor]="menu">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      }
    </div>
    <a masonryLazy loading="lazy" [href]="url" target="_blank"
      class="bg-gray-300 rounded-md pb-3 mb-3 hover:bg-gray-400">
      @if (urlImage) {
      <img [src]="urlImage" class="rounded-t-md" />
      }
      @if (urlDescription) {
      <span class="text-sm mx-3 mt-3 font-normal text-gray-500 line-clamp-2">{{ urlDescription }}</span>
      }
      @if (urlDomain) {
      <a [href]="url" target="_blank"
        class="text-sm p-3 font-normal text-blue-700 underline hover:no-underline break-all">
        {{ urlDomain }}
      </a>
      }
    </a>
    <p class="text-sm font-normal text-gray-900 line-clamp-3">
      {{description}}
    </p>
  </div>

  <!-- Menu -->
  <mat-menu class="p-0" #menu="matMenu">
    <button mat-menu-item (click)="onEditItem()">Edit</button>
    <button mat-menu-item (click)="onDeleteItem()">Delete</button>
  </mat-menu>
</div>